<ion-header>
  <ion-toolbar>
    <ion-title>Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Goal</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="g1">Estimation</ion-select-option>
        <ion-select-option value="g2">Iteration Commitment</ion-select-option>
        <ion-select-option value="g3">Ownership</ion-select-option>
        <ion-select-option value="g4">Process Compliance</ion-select-option>
        <ion-select-option value="g5">Quality</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card-header>
    <ion-button (click)="previous()">Previous</ion-button>
    <ion-button (click)="next()">Next</ion-button>
    <ion-button (click)="cancel()">Cancel</ion-button>
  </ion-card-header>

</ion-content>
